<form novalidate ng-submit="signin()" class="form-horizontal">
	<div class="form-group">
		<label for="email" class="control-label col-sm-3">
			Email<btn-errors field="usuario.email" errors="{{validErrors}}" />
		</label>
		<div class="col-sm-9">
			<input type="email" id="email" class="form-control" ng-model="usuario.email" />
		</div>
	</div>
	<div class="form-group">
		<label for="nome" class="control-label col-sm-3">
			Nome<btn-errors field="usuario.nome" errors="{{validErrors}}" />
		</label>
		<div class="col-sm-9">
			<input type="text" id="nome" class="form-control" ng-model="usuario.nome" />
		</div>
	</div>
	<div class="form-group">
		<label for="username" class="control-label col-sm-3">
			Username<btn-errors field="usuario.username" errors="{{validErrors}}" />
		</label>
		<div class="col-sm-9">
			<input type="text" id="username" class="form-control" ng-model="usuario.username" />
		</div>
	</div>
	
	<div class="form-group">
		<label for="senha" class="control-label col-sm-3">
			Senha<btn-errors field="usuario.senha" errors="{{validErrors}}" />
		</label>
		<div class="col-sm-9">
			<input type="password" id="senha" class="form-control" ng-model="usuario.senha" />
		</div>
	</div>
	
	<input type="hidden" ng-model="usuario.roles" ng-init="usuario.roles=['inutil']" />
	
	<div class="form-group">
   		<div class="col-sm-offset-3 col-sm-9">
			<button type="submit" class="btn btn-success">Cadastre-se</button>
		</div>
	</div>
	
	<p class="alert alert-danger">
		{{validErrors}}
	</p>
</form>